# GitHub OAuth
GITHUB_CLIENT_ID=Ov23lisJdUcb1DmKhIfe
GITHUB_CLIENT_SECRET=897dbebdde0fcb173d22f45f53de423bb7bb44ac

# JWT Secret (обязательно изменить!)
JWT_SECRET=iplaygodotandclaimfun

# Порт сервера
PORT=8081

# SQLite база данных (по умолчанию auth.db)
DB_PATH=auth.db